<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Community Bookshelf</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  {{> header}}
  
  <main class="container">
    {{#if error}}
    <div class="error-message">
      {{error}}
    </div>
    {{/if}}
    
    {{{body}}}
  </main>
  
  {{> footer}}
  
  <script src="/js/auth.js"></script>
  <script src="/js/books.js"></script>
  {{#if user.role}}
  {{#if (eq user.role "admin")}}
  <script src="/js/admin.js"></script>
  {{/if}}
  {{/if}}
</body>
</html>