<div class="user-bookshelf">
  <h2>{{viewUser.username}}'s Bookshelf</h2>
  
  <div class="user-info">
    <p>User since: {{formatDate viewUser.created_at}}</p>
  </div>
  
  <div class="book-grid">
    {{#if books.length}}
      {{#each books}}
        {{> bookCard book=this showActions=false}}
      {{/each}}
    {{else}}
      <p class="empty-message">This user hasn't added any books yet.</p>
    {{/if}}
  </div>
</div>